@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-sider-children {
  background-color: #fff !important;
}
.ant-layout-sider-children ul[role="menu"] {
  background-color: #fff !important;
  color: #000;
}
